@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h2>Add a food</h2>

<h4>Add a food to this Restaurant: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RestaurantId)

    @Html.Label("Select food")
    @Html.DropDownList("foodId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>